{% extends "base.html" %}
{% load static %}
{% block content %}
    <section>
        <div class="bg-white py-14 sm:py-12">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
              <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">¡Bienvenido a Mi Blog!</h2>
              <p class="mt-2 text-base leading-8 text-gray-600">
                Soy Anderson, un apasionado desarrollador fullstack. Aquí encontrarás un espacio donde la programación se encuentra con mis opiniones personales.
            </p>           
            <p class="text-base leading-8 text-gray-600">
              Exploraré temas relacionados con la programación, desarrollo web, tecnologías emergentes y compartiré mis experiencias en el fascinante mundo del desarrollo de software.
          </p>
          </div>
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 sm:mt-8 sm:pt-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
              {% for post in posts %}
                <article class="flex max-w-xl flex-col items-start justify-between">
                  <a href="#"><img class="rounded-lg py-5 w-3/4" src={{post.picture.url}} alt="imagen"></a>
                  <div class="flex items-center gap-x-4 text-xs">
                    <time datetime="2020-03-16" class="text-gray-500">{{post.publicado}}</time>
                    <a class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{{post.categoria}}</a>
                  </div>
                  <div class="group relative">
                    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                      <a href="#">
                        <span class="absolute inset-0"></span>
                        {{post.title}}
                      </a>
                    </h3>
                    <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                      {{post.content}}
                    </p>
                  </div>
                  <div class="relative mt-8 flex items-center gap-x-4">
                    <img src={% static "logo.jpg" %} alt="" class="h-10 w-10 rounded-full bg-gray-50">
                    <div class="text-sm leading-6">
                      <p class="font-semibold text-gray-900">
                        <a href="#">
                          <span class="absolute inset-0"></span>
                          {{post.author}}
                        </a>
                      </p>
                      <p class="text-gray-600">Desarollador FullStack</p>
                    </div>
                  </div>
                </article>
              {% endfor %}
            </div>
          </div>
        </div>

    </section>
{% endblock content %}