{% load static %}
{% load tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explora las posibilidades del desarrollo web fullstack con un enfoque especial en Django. Descubre cómo este potente framework web puede llevar tu blog personal y tus proyectos a nuevas alturas. Desarrolla aplicaciones web completas, construye APIs RESTful, administra tu contenido de manera eficiente y benefíciate de las características de seguridad integradas de Django. Convierte tu blog en una experiencia web única y aprende a crear soluciones web completas con la versatilidad de Django y otras tecnologías fullstack.">
    <link rel="icon" href="{% static "anderdev.ico" %}">
    {% tailwind_css %}
    
    <title>My Blog</title>
</head>
<body>
    {% include "includes/navbar.html" %}
    {% block content %}

    {% endblock content %}
    {% block script %}
        <script>
            
                const btnshow = document.getElementById('show_menu');
                const dropmenu = document.getElementById('navbar-default');
                const svg = btnshow.querySelector('svg');

                btnshow.addEventListener('click', function () {
                    dropmenu.classList.toggle('hidden');
                    
                    if (dropmenu.classList.contains('hidden') ) {
                        dropmenu.classList.remove('menu-appear');
                        dropmenu.classList.add('menu-disappear');
                        svg.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" /></svg>';
                    } else {
                        dropmenu.classList.remove('menu-disappear');
                        dropmenu.classList.add('menu-appear');
                        svg.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>';
                    }
                });

        </script>
    {% endblock script %}

</body>
</html>