{% extends "dashboard/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    


    {# Bienvenida al usuario #}
    <div class="pt-5 bg-dark-second ml-64">
        <div class="ml-10 pb-5">
            <div class="flex justify-between pr-5">
                <span class="text-gray-200">{{hora}}</span>
                <span class="text-gray-200">Last login : {{last_login|naturaltime|capfirst}}</span>
            </div>
            <h1 class="text-3xl text-white">Bienvenido <span class="font-semibold">{{request.user.username|capfirst}}</span> </h1>
        </div>
    </div>

    {# Datos del dashboard #}
    {% include "dashboard/src/datos.html" %}

    {# Modal para el nuevo registro #}
    <div class="relative z-10 hidden" id="ModalNew" aria-labelledby="modal-title" role="dialog" aria-modal="true">

        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                
                    <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                    <div class="mx-auto flex h-12 w-12 flex-shrink-0 text-white items-center justify-center rounded-full bg-green-400 sm:mx-0 sm:h-10 sm:w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Crear nuevo Post</h3>
                            <div class="mt-2 flex flex-col gap-2">
                                {{form}}
                            </div>
                        </div>
                        </div>
                        </div>

                        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                            <button type="submit" class="inline-flex w-full justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Enviar</button>
                            <button type="button" id="CloseModal" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancelar</button>
                        </div>

                    </form>
                </div>
            </div>
            </div>
    </div>
        
    

{% endblock content %}



